/*.iml
.*.sw?
git_stats
.project
/pkg
/spec/fixtures/modules
spec/fixtures/data
spec/fixtures/hiera.yaml
spec/fixtures/hiera/hieradata
/spec/fixtures/gpg_keys
/manifests/site.pp
/.rspec_system
/.vagrant
/.bundle
/vendor
/Gemfile.lock
/junit
/log
/*.xml
/*.properties
.yardoc
.ruby-version
coverage
.idea

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

**/*.vmdk
**/*.vdi
**/*.iso
**/*.box
packer/output-*
packer/packer_cache
.vscode/*
